html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
    padding: 0 40px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;
    color: #000;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list, .city-advantages, .bridge-advantages, .search-title, .search-header, .main-title, .main-menu-list, .card-title, .card-info, .search-info, .social-list, .hash-tag, .hotels-list, .hotel-title, .hotel-price, .total, .sort, .type, .filters-title, .filters-list {
    margin: 0;
}

.search-header, .main-title , .card-title {
    font-size: 21px;
}

.main-title {
    line-height: 27px;
    padding-top: 6px;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.col-1 {
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%;
}

.col-2 {
    -ms-flex-preferred-size: 33.34%;
    flex-basis: 33.33%;
}

.col-3 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.col-4 {
    -ms-flex-preferred-size: 66.67%;
    flex-basis: 66.67%;
}

.col-5 {
    -ms-flex-preferred-size: 83.34%;
    flex-basis: 83.34%;
}

.col-6 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 140px;
    width: 100%;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.main-menu .main-menu-list, .advantages-list, .city-advantages, .bridge-advantages, .social-list, .hotels-list, .filters-list, .type-list {
    list-style: none;
    padding: 0;
}

.main-menu a {
    font-weight: bold;
    color: #000;
}

.main-menu a:hover {
    color: #81b3d2;
}

.main-menu a:focus {
    color: rgba(0, 0, 0, .3);
}

.main-menu .active {
    color: #766357;
}

.header {
    background: #fff;
    display: block;
    z-index: 10;
    position: relative;
}

.main-slider {
    position: relative;
    background: #6c95bb url('../img/background.jpg') no-repeat;
    background-size: cover;
    min-height: 510px;
    padding-top: 75px;
}

.main-slider .container {
    text-align: center;
}

.main-slider:after {
    content: '';
    background: url('../img/polygon.png') no-repeat bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.main-welcome, .block-search {
    background-color: #fff;
    text-align: center;
    display: block;
    min-height: 216px;
}

.main-welcome .container {
    padding: 52px
}

.main-welcome .motivator {
    font-size: 14px;
    color: #333;
    margin: 29px 0 0 0;
}

.main-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    min-height: 56px;
}

.menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 56px;
}

.menu-item:nth-child(1) {
    padding-left: 72px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.menu-item:nth-child(2) {
    padding-left: 112px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.menu-item:nth-child(3) {
    padding-right: 112px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu-item:nth-child(4) {
    padding-right: 72px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.advantages-line .card {
    min-height: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 45px;
}

.city-advantages, .bridge-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

.city-advantages {
    min-height: 330px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bridge-advantages {
    min-height: 256px;
}

.advantages-line {
    background-color: #81b3d2;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-info.number:before, .card-info.number:after {
    content: '';
    position: relative;
    border: 1px solid #fff;
    height: 1px;
    width: 9px;
    display: block;
    margin: 0 6px;
}

.card-info.number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 21px 0;
}

.advantages-item .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #000;
    padding-top: 52px;
}

.advantages-item .card-info.number:before, .advantages-item .card-info.number:after {
    border: 1px solid #000;
}

.city-advantages .card-title:before {
    content: '';
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    margin: 0 auto 29px auto;
    height: 80px;
}

.city-advantages .icon-1:before {
    background-image: url('../img/svg/icon-1.svg');
    width: 75px;
}

.city-advantages .icon-2:before {
    background-image: url('../img/svg/icon-3.svg');
    width: 64px;
}

.city-advantages .icon-3:before {
    background-image: url('../img/svg/icon-2.svg');
    width: 74px;
}

.city-advantages .card-title {
    margin-bottom: 22px;
}

.bridge-advantages {
    background: #eee;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bridge-advantages .card {
    padding-top: 47px;
}

.block-search {
    min-height: 291px;
}

.block-search .container {
    padding: 57px 30px 0 30px;
    position: relative;
    z-index: 1;
    background: #fff;
}

.search-title {
    font-size: 30px;
    margin-bottom: 33px;
}

.search-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 86px;
    background: #766357;
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.search-header:hover {
    background: #604e43;
}

.search-header:active {
    background: #503e33;
    color: #857871;
}

.search-form {
    margin: 49px auto 0 auto;
    max-width: 568px;
    position: relative;
}

.form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 55px;
    min-height: 395px;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 568px;
    margin: 0 auto;
}

.arrival-container, .departure-container, .guest-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 38px;
    margin-bottom: 29px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.calendar {
    fill: #cacaca;
    cursor: pointer;
}

.calendar:hover {
    fill: #000;
}

.calendar:active {
    fill: #81b3d2;
}

.guest-container {
    margin-bottom: 55px;
}

.link-container .search-btn {
    min-height: 58px;
    border: 0;
    background: #81b3d2;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

.link-container .search-btn:hover {
    background: #669ec0;
}

.link-container .search-btn:active {
    background: #5496bd;
    color: #88b6d1;
}

.link-container .search-btn:focus {
    outline: none;
}

.label {
    font-weight: bold;
    min-width: 113px;
    text-align: left;
}

.arrival-control, .departure-control, .adults-control, .children-control {
    width: calc(100% - 113px);
    height: 38px;
    border: 0;
    padding-left: 12px;
    text-transform: uppercase;
    background: #f2f2f2;
    font-weight: bold;
}

.arrival-control:hover, .departure-control:hover, .adults-control:hover, .children-control:hover {
    background: #ebebeb;
}

.arrival-control:focus, .departure-control:focus, .adults-control:focus, .children-control:focus {
    background: transparent;
    border: 2px solid #e5e5e5;
    outline: none;
}

.adults, .children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
}

.children .label {
    text-align: right;
    padding-right: 24px;
}

.adults-control, .children-control {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.adults-control-input, .children-control-input {
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    border: 0;
    text-align: center;
    width: 100%;
}

.footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 126px;
    background: rgba(255, 255, 255, .9);
}

.footer .container, .hotels-item, .hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 120px;
}

.social-list {
    display: inherit;
}

.social-item {
    width: 46px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hash-tag, .tel {
    font-size: 21px;
    color: #000;
    font-weight: bold;
}

.hash-tag {
    margin-bottom: 10px;
}

.block-hash-tag-tel {
    padding-top: 3px;
    padding-left: 71px;
    display: initial;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.hotels {
    display: block;
    background: #fff;
}

.hotels-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-page .footer {
    position: relative;
}

.footer .container, .hotels-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotels-item {
    border-bottom: 1px solid #e5e5e5;
    padding: 29px 73px;
}

.hotels-item {
    min-height: 151px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hotels-item.amara {
    border-top: 1px solid #e5e5e5;
}

.hotels-item .hotel-image {
    margin-right: 30px;
}

.hotel-title {
    line-height: 17px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: block;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-title:active {
    color: #b2b2b2;
}

.hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 14px;
}

.block-hotel-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-page .block-hash-tag-tel {
    padding-left: 81px;
}

.block-hotel-link .more, .block-hotel-link .book-now {
    display: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    height: 27px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.block-hotel-link .more {
    background: #81b3d2;
    width: 109px;
    margin-right: 6px;
}

.block-hotel-link .more:hover {
    background: #669ec0;
}

.block-hotel-link .more:active {
    background: #5496bd;
    color: #88b6d1;
}

.block-hotel-link .book-now:hover {
    background: #604e43;
}

.block-hotel-link .book-now:active {
    background: #503e33;
    color: #857871;
}

.block-hotel-link .book-now:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.block-hotel-link .book-now {
    background: #766357;
    width: 142px;
}

.left {
    display: inherit;
}

.hotel-reputation.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.classification {
    background: url('../img/star.png');
    color: #81b3d2;
    height: 18px;
}

.amara .classification {
    width: 87px;
}

.desert .classification {
    width: 65px;
}

.villas .classification {
    width: 43px;
}

.reputation {
    height: 27px;
    display: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 109px;
    background: #f2f2f2;
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.block-options {
    display: inherit;
    min-height: 217px;
    background: #6c95bb url('../img/filter_background.jpg') no-repeat;
    padding: 25px 70px 0 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.block-results {
    display: inherit;
    min-height: 87px;
    background: #fff;
    padding: 0 71px 0 73px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.total {
    font-weight: bold;
    font-size: 21px;
    margin-right: 47px;
}

.sorting {
    display: inherit;
}

.sort {
    font-size: 12px;
    margin-right: 40px;
}

.sorting-option {
    background: transparent;
    border: 0;
    color: #d0d0d0;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    margin-right: 32px;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-option.active {
    border: 0;
    color: #b3d1e4;
}

.navigation .up, .navigation .down {
    color: transparent;
    border: 0;
    background: transparent;
    font-size: 0;
    width: 12px;
    height: 10px;
    cursor: pointer;
    position: relative;
    bottom: 8px;
    padding-right: 13px;
}

.navigation .svg-btn {
    fill: #cacaca;
}

.navigation .svg-btn:hover {
    fill: #231f20;
}

.navigation .svg-btn:active {
    fill: #81b3d2;
}

.navigation .svg-btn:focus, .navigation .up:focus, .navigation .down:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.active .svg-btn {
    fill: #81b3d2;
}

.filters-title {
    color: #fff;
    margin-bottom: 21px;
}

.infrastructure, .type {
    min-width: 255px;
}

.label-checkbox {
    color: #fff;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
}

.label-checkbox:before {
    content: '';
    display: inline-block;
    width: 27px;
    height: 23px;
    margin-right: 16px;
    vertical-align: middle;
    background: url('../img/svg/checkbox-off.svg') no-repeat;
    position: relative;
    top: -1px;
    right: -3px;
}

.filters-options:checked + .label-checkbox:before {
    background: url('../img/svg/checkbox-on.svg') no-repeat;
}

.filters-options:disabled + .label-checkbox:before {
    background: url('../img/svg/checkbox-off-disabled.svg') no-repeat;
}

.filters-options:checked:disabled + .label-checkbox:before {
    background: url('../img/svg/checkbox-on-disabled.svg') no-repeat;
}

.filters-list-item {
    margin-bottom: 15px;
}

.costs.right {
    display: block;
    width: 321px;
    position: relative;
    padding-right: 3px;
}

.costs.right .filters-title {
    margin-bottom: 10px;
    padding-left: 2px;
}

.borders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    min-height: 38px;
    margin-bottom: 19px;
    border: 2px solid #fff;
}

.borders div {
    display: inherit;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.costs-input {
    text-align: center;
    background: transparent;
    border: 0;
    color: #fff;
    font-weight: bold;
    display: inherit;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 47px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.costs-input.before:before {
    content: '';
    display: block;
    background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAQAAABA+IUiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkAwoUJDM8C+KcAAAAHElEQVQI12P8/4OBgfH/fwYGJgYGWhIsDD8ZGACv4QUbpOL93QAAAABJRU5ErkJggg==') no-repeat;
    position: absolute;
    width: 2px;
    height: 22px;
    right: -3px;
}

.scroll-price {
    min-height: 35px;
    position: relative;
}

.costs-scroll {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: #fff;
    outline: none;
}

.costs-scroll-max {
    height: 0;
    top: 21px;
}

.costs-scroll::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 23px;
    background: url('../img/svg/filter-button.svg') no-repeat;
    cursor: pointer;
}

.costs-scroll::-moz-range-thumb {
    width: 25px;
    height: 23px;
    background: url('../img/svg/filter-button.svg') no-repeat;
    cursor: pointer;
}

.costs-scroll-max::-webkit-slider-thumb {
    position: relative;
    bottom: 19px;
}

.costs-scroll-max::-moz-range-thumb {
    position: relative;
    bottom: 19px;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    width: 22px;
    height: 22px;
    top: -10px;
    border: 9px solid #fff;
}

.range-toggle-max:hover {
    left: calc(80% - 1px);
}

.range-toggle-min:hover {
    left: -1px;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.apply-filters {
    display: block;
    margin: 0 auto;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    right: 5px;
}

.apply-filters:hover {
    color: #000;
    background: #fff;
}

.input-price {
    border: 0;
    background: transparent;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 50px;
    margin-left: 6px;
    min-height: 34px;
}

.costs-input.after {
    padding-left: 27px;
}

.search-input-btn {
    position: absolute;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #a9a9a9;
    font-size: 27px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.search-input-btn:hover {
    color: #000;
}

.search-input-btn:active {
    color: #81b3d2;
}

.btn-more {
    right: 13px;
    top: 4px;
}

.btn-small {
    top: 2px;
    left: 11px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(1.5);
    -ms-transform: scaleX(1.5);
    transform: scaleX(1.5);
}

.sorting-option:hover {
    color: #81b3d2;
    cursor: pointer;
}

.sorting-option:active {
    color: #000;
    border: 0;
}

.sorting-option:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.academy-link {
    width: 100%;
    text-align: center;
    color: #000;
    display: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.academy-logo {
    width: 123px;
    height: 42px;
    padding-left: 10px;
    fill: #231f20
}

.academy-logo:hover {
    fill: #93bed8
}

.academy-logo:active {
    fill: #bdbbbc
}

.social-link {
    background: #81b3d2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-svg {
    fill: #fff;
}

.social-link:hover {
    background: #669ec0;
}

.social-link:active {
    background: #5496bd;
}

.social-link:hover .social-svg {
    fill: #fff;
}

.social-link:active .social-svg {
    fill: #88b6d1;
}

.main-menu .active, .main-menu .active:hover, .main-menu .active:active {
    color: #766357;
    cursor: default;
}

.card-info {
    max-width: 305px;
}

.advantages {
    position: relative;
    z-index: 1;
}

.search-header {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0;
}

.modal {
    z-index: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.modal-show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.filters-options:focus + .label-checkbox:before {
    outline: -webkit-focus-ring-color auto 1px;
}

.calendar-block {
    width: 21px;
    height: 22px;
    position: absolute;
    right: 10px;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    top: 8px;
}

.range-toggle {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.arrival-control[type=text]::-ms-clear, .departure-control[type=text]::-ms-clear {
    display: none; width : 0; height: 0;
}

.arrival-control[type=text]::-ms-reveal, .departure-control[type=text]::-ms-reveal {
    display: none; width : 0; height: 0;
}

.map {
    background-image: url('../img/map_no_script.jpg');
    min-height: 599px;
}

.card-title {
    margin: 0 auto;
    width: 100%;
    max-width: 160px;
}

.bridge-advantages .card-info {
    max-width: 253px;
    line-height: 21px;
}

.bridge-advantages .advantages-item:nth-child(2) .card-info {
    max-width: 261px;
}

.social-item.twitter {
    margin-right: 5px;
}

.social-item.facebook {
    margin-right: 6px;
}

@-webkit-keyframes cancellation {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes cancellation {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.modal-error {
    -webkit-animation: cancellation 0.6s;
    animation: cancellation 0.6s;
}

.red-border {
    border: 1px solid red;
}

.arrival-control::-webkit-input-placeholder, .departure-control::-webkit-input-placeholder, .adults-control-input::-webkit-input-placeholder, .children-control-input::-webkit-input-placeholder {
    color: #000;
}

.arrival-control::-moz-placeholder, .departure-control::-moz-placeholder, .adults-control-input::-moz-placeholder, .children-control-input::-moz-placeholder {
    color: #000;
}

.arrival-control:-ms-input-placeholder, .departure-control:-ms-input-placeholder, .adults-control-input:-ms-input-placeholder, .children-control-input:-ms-input-placeholder {
    color: #000;
}

.arrival-control::-ms-input-placeholder, .departure-control::-ms-input-placeholder, .adults-control-input::-ms-input-placeholder, .children-control-input::-ms-input-placeholder {
    color: #000;
}

.arrival-control::placeholder, .departure-control::placeholder, .adults-control-input::placeholder, .children-control-input::placeholder {
    color: #000;
}

.main-menu-list, .social-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-flow: row;
}

.social-item.twitter {
    margin-left: 5px;
}

.social-item.youtube {
    margin-right: 5px;
}